body{
    margin: 0;
    padding: 0;
    background-color: rgb(22, 44, 65);
}

body .container{
    max-width: 1000px;
    margin: 0 auto;
    margin-bottom: 20px;
    color: #fff;
    font-weight: bold;
}

header{
    margin-top: 0px;
    margin-bottom: 20px;
    padding-top: 20px;
    top: 0;
    z-index: 100;
}

header h1{
    font-size: 40px;
    text-align: center;

}

.card-deck {
	padding: 0 auto;
}

.card-deck card-mb-4{
    width: 100px;
    border-radius: 20px;
}

.card-title a{
    font-size: 20px;
    text-align: center;
    font-weight: bold;
    color: rgb(157, 125, 150);
}

.card-text th{
    font-size: 18px;
    color: #333;
    background-color: rgb(218, 235, 243);
    text-align: center;
}

.card-text td{
    font-size: 18   px;
    color: #333;
    background-color: rgb(187, 217, 215);
    text-align: center;
}

.container h3{
    width: 100%;
    margin-bottom: 10px;
    padding: 10px;
    color: #333;
    background-color: rgb(218, 235, 243);
}

button{
    text-align: right;
}

.container button{
    margin: 40px auto;
    background-color: rgb(218, 235, 243);
    border-radius: 5px;
    color: #000;
    padding: 10px auto;
    width: 100%;
    box-shadow: 0px 0px 7px rgba(0, 0, 0, .7);
    font-weight: bold;
    font-size: 24px;
}

.container button:hover{
    background-color: rgb(157, 125, 150);
    color: #fff;
}

.table th,
.table td {
  border-color: #bbb;
}

.md-icon {
	width: 30%;
	hight: 30%;
}

.sm-icon {
	width: 400%;
	hight: 400%;
	z-index: 100;
}

.location {
	width: 40%;
	hight: 40%;
}