body{
    margin: 0;
    padding: 0;
    background-color: rgb(22, 44, 65);
}

.container{
    max-width: 1100px;
    margin: 0 auto;
    color: #fff;
    font-size: 28px;
    font-weight: bold;
}

.containerTitle{
    max-width: 1200px;
    margin: 0 auto;
    color: #fff;
    font-size: 24px;
    font-weight: bold;
}

header{
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 5px;
    top: 0;
    z-index: 100;
}

header h1{
    color: #fff;
    font-size: 80px;
    font-weight: bold;
    text-align: center;
    font-family: 'Kosugi Maru';
}

.enp {
	color: #ff8040;
	display: inline;
}

label + input[type="radio"],
label + label {
    margin-left: 2em;
}

.information{
    width: 100%;
    margin-top: 20px;
    padding-left:60px;
    padding-right:60px;
}

.information h2{
    font-size: 24px;
    color: #fff;
    font-weight: bold;
}

.rule{

    border-color: #ddd;
    border-radius: 5px;
    background-color: rgb(157, 125, 150);
    color: #fff;
    font-size: 24px;
    padding-left: 80px;
    padding-right: 80px;
}

.container button{
    margin: 40px auto;
    background-color: rgb(218, 235, 243);
    border-radius: 5px;
    color: #000;
    padding: 10px auto;
    width: 100%;
    box-shadow: 0px 0px 7px rgba(0, 0, 0, .7);
    font-weight: bold;
    font-size: 24px;
}

.container button:hover{
    background-color: rgb(157, 125, 150);
    color: #fff;
}

.example {
  position: relative;
  }

.example a {/*aタグを画像の真ん中に*/
  position: absolute;
  top: 75%;
  left: 50%;
  -ms-transform: translate(-50%,-50%);
  -webkit-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
  /*以下装飾*/
  margin:0;/*余計な隙間を除く*/
  font-size: 60px;/*文字サイズ*/
  border: solid white 2px; /*線で囲う*/
  padding: 1px 35px 1px 35px;/*文字と線の間の余白*/
  color: black;/*文字色*/
  text-decoration: none;/*下線を表示させない*/
  border-radius: 5px;
  background: rgba(255, 255, 255, 0.8);/*背景を半透明に*/
  }

.example a:hover{/*カーソルを当てたとき*/
  background: white;/*背景を半透明に*/
  }

.example img {
  width: 100%;
  }


 .balloon5 {
  width: 100%;
  margin: 1.5em 0;
  overflow: hidden;
}

.balloon5 .faceicon {
  float: left;
  margin-right: -90px;
  width: 80px;
}

.balloon5 .faceicon img{
  width: 90px;
  height: auto;
  border-radius: 5%;
}

.balloon5 .chatting {
  width: 100%;
}

.img-text {/*親div*/
  position: relative;/*相対配置*/
  display: inline;
  }

.img-text p {
  position: absolute;/*絶対配置*/
  color: #ffacff;
  background-color: rgb(22, 44, 65);
  font-size: 20px;
  top: -50%;
  left: 65%;
  border-radius: 3px;
  }

  .img-text a {
  position: absolute;/*絶対配置*/
  color: #13c4ff;
  background-color:  rgb(22, 44, 65);
  font-size: 20px;
  top: -50%;
  left: 65%;
  border-radius: 3px;
  }

.says {
  display: inline-block;
  position: relative;
  margin: 5px 0 0 105px;
  padding: 17px 13px;
  border-radius: 12px;
  background: rgb(157, 125, 150);
}

.says:after {
  content: "";
  display: inline-block;
  position: absolute;
  top: 18px;
  left: -24px;
  border: 12px solid transparent;
  border-right: 12px solid rgb(157, 125, 150);
}

.says p {
  margin: 0;
  padding: 0;
}

.selection-group input[type="radio"] {
    display: none;/*ラジオボタンを見えないようにするCSS*/
}

.selection-group input[type="radio"]:checked + label img {
    background-color: yellow;
}


label .img1 {
    margin: 5px;
    margint-top: 30px;
    margin-left: 80px;
    padding: 5px;
    float: center;
    box-shadow: 0px 0px 0px rgba(0, 0, 0, .6);
    transition-property: opacity;
    transition-duration: .5s;
    transition-timing-function: ease;
    transition-delay: 0s;
    vertical-align:bottom;
    width: 160px;
    height: 160px;
}

label .img2 {
    margin: 5px;
    padding: 5px;
    float: center;
    box-shadow: 0px 0px 0px rgba(0, 0, 0, .6);
    transition-property: opacity;
    transition-duration: .5s;
    transition-timing-function: ease;
    transition-delay: 0s;
    vertical-align:bottom;
    width: 350px;
    height: 350px;
}

.img3 {
    margin: 5px;
    padding: 5px;
    width: 150px;
    height: 150px;
}

.img4 {
    margin: 5px;
    padding: 5px;
    width: 40px;
    height: 40px;
}

.img5 {
    margin: 5px;
    padding: 5px;
    width: 100px;
    height: 100px;
}